<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMLGen.Properties.PathConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TMLGen.Properties.PathConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TMLGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <TMLGen.Properties.PathConfigurationSettings>
            <setting name="DidFirstLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnpackedDataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDataDirectory" serializeAs="String">
                <value />
            </setting>
        </TMLGen.Properties.PathConfigurationSettings>
        <TMLGen.Properties.PathConfiguration>
            <setting name="pathTest" serializeAs="String">
                <value>HELLLLLLLLLO THIS IS A VALUE</value>
            </setting>
        </TMLGen.Properties.PathConfiguration>
        <TMLGen.Properties.Settings>
            <setting name="SourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratedDialogTimelinesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DialogsBinaryFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DialogsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TimelineTemplatesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Manual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mods" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="ModIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BatchSourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedMod" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipSelectionPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipShowArmor" serializeAs="String">
                <value>True</value>
            </setting>
        </TMLGen.Properties.Settings>
    </userSettings>
</configuration>
